<script>
import { page } from '$app/stores';
import FormBook from '../../FormBook.svelte';
import TinyPouchDB from "../../TinyPouchDB.svelte";
let id = $page.params.id;
let books=[]
let removeBook="";
    const deleteLivre = (Book) => {
        removeBook = Book;
        
    }
</script>
<TinyPouchDB bind:documents={books} initsrc="/books.json" collection="books" addLivre="" removeBook={removeBook} editBook=""></TinyPouchDB>


{#each books as book}
    {#if book._id == id}
      <div class="card" style="width: 18rem; display : flex; justify-content: center;">
        <img src="data:{book.img.content_type};base64,{book.img.data}" alt={book.title}/>
        <div class="card-body">
          <h5 class="card-title">{book.title}</h5>
          <p>Price : {book.price}$</p>
          <button class="btn btn-primary "><a href="/{book._id}/update/" style="text-decoration:none; color:white">Edit </a></button>
          <button on:click={deleteLivre(book)} class="btn btn-danger ">Supprimer</button>

          <i class="bi bi-pencil"></i>
        </div>
      </div>
    {/if}
{/each}

<style>
.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}
</style>