<script>
    import TinyPouchDB from '../../TinyPouchDB.svelte';
    import FormBook from "../../FormBook.svelte";
    let books=[];
    let Book;
    
    const addBook = (e) => {
        Book = e.detail;

    }
</script>

<TinyPouchDB bind:documents={books} initsrc="/books.json" collection="books" addLivre={Book} removeLivre="" editBook=""></TinyPouchDB>

<FormBook on:addBook={addBook}/>
