<script>
  import TopAppBar, {
    Row,
    Section,
    Title,
    AutoAdjust,
  } from "@smui/top-app-bar";
  import IconButton from "@smui/icon-button";
  let topAppBar;
  import TinyPouchDB from "../TinyPouchDB.svelte";
  let books = [];
  import LayoutGrid, { Cell } from "@smui/layout-grid";
  
</script>


<TinyPouchDB bind:documents={books} initsrc="/books.json" collection="books" />
<LayoutGrid>
  {#each books as book}
    <Cell span={1}>
      <a href={`/${book._id}`} style="text-decoration:none; font-style:normal">
        <div class="demo-cell">
          <img
            src="data:{book.img.content_type};base64,{book.img.data}"
            alt={book.title}
          />
        </div>
        <p>{book.title}</p>
      </a>
    </Cell>
  {/each}
</LayoutGrid>


<style>
  .demo-cell {
    /*height: 60px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--mdc-theme-secondary, #333);
    color: var(--mdc-theme-on-secondary, #fff);
  }
</style>
