<script>
    import {title} from "../../FormBook.svelte";
    import {author} from "../../FormBook.svelte";
    
    import FormValidation from "../../FormValidation.svelte" ;
    let abc = "abc" ;
</script>

<!-- ajout dans books.json ; utilisation de TinyPouchDB ? -->

<FormValidation bind:title={$title} bind:author={$author} abc={abc} />