<script>
    import TinyPouchDB from '../../../TinyPouchDB.svelte';
    import FormBookEdit from "../../../FormBookEdit.svelte";
    import { page } from '$app/stores';
    let id = $page.params.id;

    let books=[];
    let Book;
    const editBook = (e) => {
        Book = e.detail;
    }

</script>

<TinyPouchDB bind:documents={books} initsrc="/books.json" collection="books" addLivre="" removeLivre="" editBook={Book}></TinyPouchDB>
{#each books as book}
    {#if book._id === id}
        <FormBookEdit on:editBook={editBook} Book={book}/>
    {/if}
{/each}