<script>
    import { page } from '$app/stores';
    import TinyPouchDB from '../../../TinyPouchDB.svelte';

    let id = $page.params.id;
    let books=[];
    let removeLivre="";
    const deleteLivre = (Book) => {
        removeLivre = Book;
        
    }
</script>
<TinyPouchDB bind:documents={books} initsrc="/books.json" collection="books" addLivre="" removeLivre={removeLivre} editBook=""></TinyPouchDB>
