<script>
    import { createEventDispatcher } from "svelte";
    let dispatch = createEventDispatcher();
    let author;
    let title;
    let url;
    let price;
    const handleSubmit= () =>{
        const newBook ={
            _id: title,
            author: author,
            title: title,
            url: url,
            price: price,
            img: {
                "content_type": "image/jpeg",
                "filename": "",
                "data": "",
                "path": ""
            }
        }
        dispatch('addBook', newBook);
        
    }
</script>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <form name="formBook" on:submit|preventDefault={handleSubmit}>
      <div class="form-group">
        <label for="title">Titre : </label>
        <input
          type="text"
          name="title"
          id="title"
          required
          class="form-control"
          bind:value={title}
        />
      </div>
      <div class="form-group">
        <label for="author">Auteur.e : </label>
        <input
          type="text"
          name="author"
          id="author"
          required
          class="form-control"
          bind:value={author}
        />
      </div>
      <div class="form-group">
        <label for="url">Url de la page du livre : </label>
        <input
          type="url"
          name="url"
          id="url"
          class="form-control"
          bind:value={url}
        />
      </div>
      <div class="form-group">
        <label for="price">Prix (en euros) : </label>
        <input
          type="number"
          name="price"
          id="price"
          required
          class="form-control"
          bind:value={price}
        />
      </div>
      <div class="form-group">
        <label for="img">Lien de l'image : </label>
        <input
          type="file"
          name="img"
          id="img"
          accept="image/png, image/jpeg"
            class="form-control"
          bind:value={url}
        />
      </div>
      <input type="reset" class="btn btn-danger" value="Réinitialiser le formulaire" />
      <button class="btn btn-primary" >Ajouter le livre</button>
    </form>
  </div>
</div>
<style>
  .card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
  }
  input{
    margin-bottom: 5%;
  }
</style>