<script>
    import { createEventDispatcher } from "svelte";
    let dispatch = createEventDispatcher();
    export let Book;
    let author = Book.author;
    let title = Book.title;
    let url = Book.url;
    let price = parseFloat(Book.price);
    let img = Book.img;
    const handleSubmit= () =>{
        const modifyBook ={
            _id: document.getElementById('id_title').value,
            author: document.getElementById('id_author').value,
            title: document.getElementById('id_title').value,
            url: document.getElementById('id_url').value,
            price: document.getElementById('id_price').value,
            img: img
        }
        dispatch('editBook', modifyBook);
        
    }
</script>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <form on:submit|preventDefault={handleSubmit}>
            <div class="form-group">
                <label for="id_author">Auteur</label>
                <input type="text" id="id_author" required="required" value={author} class="form-control"/>
            </div>
            <div class="form-group">
                <label for="id_title">Titre du livre</label>
                <input type="text" id="id_title" required="required" value={title} class="form-control"/>
            </div>
            <div class="form-group">
                <label for="id_url">Lien amazon sur lequel acheter le livre</label>
                <input type="url" id="id_url" required="required" value={url} class="form-control"/>
            </div>
            <div class="form-group">
                <label for="id_price">Prix du livre</label>
                <input type="number" id="id_price" required="required" step="0.01"  value={price} class="form-control"/>
            </div>
            <button class="btn btn-primary">Edit</button>
        </form>
    </div>
</div>
<style>
    .card {
      margin: 0 auto; /* Added */
      float: none; /* Added */
      margin-bottom: 10px; /* Added */
    }
    input{
      margin-bottom: 5%;
    }
  </style>
